

header {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;

  > div {
    flex-grow: 1;
    flex-basis: 0;
  }

  .nav, .action {
    align-items: center;
    display: flex;
  }
  .nav {
    margin-left: 1rem;
  }
  .action {
    margin-right: 1rem;
    display: flex;
    justify-content: flex-end;
  }

  .logo {
    transition: opacity 0.2s;
    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }

  .backButton {

  }

}

@media(min-width: 600px) {
  header {
    .nav {
      margin-left: 2rem;
    }
    .action {
    margin-right: 2rem;
  }
  }
}