

header {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;

  > div {
    flex-grow: 1;
    flex-basis: 0;
  }

  .nav {
    align-items: center;
    display: flex;
    margin-left: 1rem;
  }

  .backButton {

  }

}

@media(min-width: 600px) {
  header {
    .nav {
      margin-left: 2rem;
    }
  }
}