<div *ngIf="poll$ | async as poll; else loading;">
  <header class="poll-header">
    <h1 class="mb-0 pb-1">{{poll.title}}</h1>
    <p class="subtitle">{{defaultText.votingSubtitle}}</p>    
  </header>
  <main>

    <div class="vote-container">
          <div
            cdkDropList
            #voteList="cdkDropList"
            [cdkDropListData]="vote.choices"
            [cdkDropListConnectedTo]="[choiceList]"
            class="vote-list"
            (cdkDropListDropped)="drop($event)">
              <poll-choice 
                [choice]="choice" 
                [votes]="vote.choices"
                *ngFor="let choice of vote.choices" 
                [active]="'true'"
                cdkDrag></poll-choice>
          </div>
          <p class="explainer">Tap a {{poll.label}} below to vote.</p>
    </div>

    <div class="choice-container">
      <div
        cdkDropList
        #choiceList="cdkDropList"
        [cdkDropListData]="choices"
        [cdkDropListConnectedTo]="[voteList]"
        class="choice-list"
        (cdkDropListDropped)="drop($event)">
          <poll-choice [choice]="choice" *ngFor="let choice of choices" cdkDrag (click)="addToVote(choice)"></poll-choice>
      </div>
    </div>

    
    <button (click)='showVote()'>Show Vote</button>
  </main>

  <footer class="actions">
    <button 
      (click)="submitVote(poll, vote)"
      [disabled]="!vote.choices.length"
      mat-button mat-raised-button [color]="'primary'" 
      class="d-block has-icon dark-icon button-large p-1"><i class="fa fa-chevron-right"></i>Submit My Vote</button>
  </footer>

</div>

<ng-template #loading>
      <div class="message">
        <img src="/assets/images/loading.svg" alt="" />
        Fetching poll...
      </div>
</ng-template>