<div *ngIf="poll$ | async as poll; else loading;">
  <header class="poll-header" [ngStyle]="{'background': poll.customizations.barColor != '' ? poll.customizations.barColor : '#EAEDF0', 'color': poll.customizations.color != '' ? poll.customizations.color : '#69757C'}">
    <h1 class="mb-0 pb-1"[ngStyle]="{'color': poll.customizations.color != '' ? poll.customizations.color : '#283136;'}">{{poll.title}}</h1>
    <p class="subtitle" *ngIf="poll.is_open">{{defaultText.votingSubtitle}}</p>    
  </header>
  <main *ngIf="poll.is_open; else closed" class="clear-footer">

    <div class="vote-container">
          <div
            cdkDropList
            #voteList="cdkDropList"
            [cdkDropListData]="vote.choices"
            [cdkDropListConnectedTo]="[choiceList]"
            class="vote-list"
            (cdkDropListDropped)="drop($event)">
              <poll-choice 
                [choice]="choice" 
                [votes]="vote.choices"
                *ngFor="let choice of vote.choices" 
                [active]="'true'"
                (toggle)="removeFromVote($event)"
                (moveUp)="moveUp($event)"
                (moveDown)="moveDown($event)"
                cdkDrag></poll-choice>
          </div>
          <p class="explainer" *ngIf="choices.length">Tap a {{poll.label}} below to vote.</p>
    </div>

    <div class="choice-container">
      <div
        cdkDropList
        #choiceList="cdkDropList"
        [cdkDropListData]="choices"
        [cdkDropListConnectedTo]="[voteList]"
        class="choice-list"
        (cdkDropListDropped)="drop($event)">
          <poll-choice 
            [choice]="choice" 
            *ngFor="let choice of choices" 
            cdkDrag 
            (click)="addToVote(choice)"></poll-choice>
      </div>
    </div>

    
    <button 
      (click)='showVote()'
      *ngIf="LOCAL_OVERLAY"
      >Show Vote</button>
  </main>

  

  <footer class="actions">
    <div style="" #recaptcha id="captcha" *ngIf="poll.is_open"></div>
    <button 
      *ngIf="poll.is_open"
      (click)="submitVote(poll, vote)"
      [disabled]="!vote.choices.length || !captchaOkay"
      mat-button mat-raised-button [color]="'primary'" 
      class="d-block has-icon dark-icon button-large p-1"><i class="fa fa-chevron-right"></i>Submit My Vote</button>

    <button 
      *ngIf="!poll.is_open"
      (click)="submitVote(poll, vote)"
      mat-button mat-raised-button [color]="'primary'" 
      class="d-block has-icon dark-icon button-large p-1"><i class="fa fa-signal"></i>View Results</button>
  </footer>

</div>

<ng-template #loading>
      <div class="message">
        <img src="/assets/images/loading.svg" alt="" />
        Fetching poll...
      </div>
</ng-template>

<ng-template #closed>
  <main class="mt-3">
    <h3 class="mb-1">Voting has Concluded</h3>
    <p>This poll is now closed, but you can still see results.</p>
  </main>
</ng-template>