

$color-primary: #8F6DCC;
$color-secondary: #51B0C9;

$color-light-blue: #EAEDF0;
$color-dark-blue: #283136;

$color-dark: $color-dark-blue;
$color-accent: $color-light-blue;

$color-grey-medium: #69757C;
$color-grey: #737C81;
