// @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

// https://material.angular.io/guide/getting-started
// https://material.angular.io/guide/theming
// https://material.angular.io/components/checkbox/overview
@import "reset";
@import "variables";
@import "utility";
@import "mat-theme";
@import "type";

body {
  background: $color-light-blue;

  font-family: 'Roboto', helvetica, arial, sans-serif;
}

.wrapper {
  max-width: 700px;
  background: white;
  box-shadow: 0 0 25px 10px rgba(0,0,0,0.05);
  margin: 0 auto;
  min-height: 100vh;
}

main {
  padding: 0 1rem;
}

hr {
  border: 0;
  border-top: 3px solid $color-light-blue;
}

.linked-card {
  background: white;
  transition: 0.25s background;
  &:hover {
    cursor: pointer;
    background: $color-light-blue;
  }
}


.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

@media (min-width: 600px) {
  main {
    padding: 0 2rem;
  }
}