

.threshold-container {
  position: relative;
}

.threshold-explanation {
  position: absolute;
  right: 0;
  top: -17px;

  display: inline-block;
  background: #777;
  font-weight: bold;
  font-size: 11px;
  border-radius: 3px;
  color: #eee;

  padding: 0.25rem;

}
@media only screen and (min-width: 900px) {
  footer {
    display:block;
    padding-left:25px;
    .half {
      min-width:210px;
      width:210px;
      float:left;
      text-align:right;
      display:block;
    }
    .half.first {
      width:80%;
    }
  button {
    margin-right:30px;
    margin-top: 15px;
    width: 200px;
    min-height: 10%;
    height: 67px;
    border-radius: 30px;
    min-width: 200px;
    float:right;
    margin-right:10px;
  }
}

}