@media only screen and (max-width: 632px) {
button {
    margin-left: 1rem;
margin-right: 1rem;
width: calc(100% - 2rem);
max-width:100% !important;
span {

max-width:100% !important;
}
}
}