.thresholdLabel {
  position:absolute;
  right:-25px;
  width:50px;
  text-align:center;
  font-size: 1.33rem;
  top:-35px;
}

.result-row {
  height: 50px;
  position: relative;
  color: #283136;
  display: flex;
  align-items: center;

  &.is-winner {
    .bar {
      background: linear-gradient(to bottom, #61C7E2, #27CCD3);
    }

    .difference.positive, .difference.negative {
      color: white;
    }
  }

  &.is-eliminated {
    .meta {
      .label {
        text-decoration: line-through;
      }
    }
  }

  .meta {
    display: flex;
    // position: absolute;
    z-index: 9;
    top: 15px;
    left: 5px;
    align-items: center;
  }
  .percentage, .count {
    width: 50px;
    text-align: right;
    font-weight: bold;
    margin-right: 9px;
    margin-left: 5px;
  }
  .label {
    margin-right: 6px;
  }
  .difference {
    font-size: 0.8rem;
    font-weight: 700;

    &.positive {
      color: #51B0C9;
    }
    &.negative {
      color: #CC6D6D;
    }
  }

  .bar {
    z-index: 5;
    height: 40px;
    top: 6px;
    min-width: 3px;
    position: absolute;
    background: #EAEDF0;
    border-radius: 6px;
    transition: width 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .bar.increase {
    background: #61E786;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
  .bar.decrease {
    background: #EF8F57;
  }
  .bar.is-winner.at-threshold {
    max-width: 3%;
  }
  .bar.decrease.is-winner.at-threshold {
    outline: 2px dotted #EF8F57;
    outline-offset: -2px; 
    background: transparent;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  .bar.increase, .bar.decrease {
    // transition: opacity 0.5s ease-in-out;
    animation: fadein 0.5s;
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  .threshold {
    border-right: 2px dotted rgba(112, 120, 124, .30);
    position: absolute;
    z-index: 9;
    height: 100%;
    top: -6px;
    right: 0;
  }
}

.exhausted-results {
  color: #777;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}